{% extends "main_app/base.html" %}





{% block sidemenu %}  
  <!-- It is only here to correctly display the nav bar on the page...
try to delete this block to see the difference..
it should be fixed finally.  -->
  <div class='w3-sidebar' id='sidenav' style="display:none">
  <div id='leftmenuinner' style="display:none">
  </div>
  </div>
{% endblock sidemenu %}






{% block content %}
{% load static %}

<div class="w3-row-padding w3-margin-top w3-theme-l1">

<br><br>

<h2 class="w3-center">ФОТОАЛЬБОМЫ</h2>


    {% if user.is_authenticated %}
    <div class="w3-container">
    <a href="{% url 'main_app:new_photoalbum' %}">
    <button class="w3-button w3-black">СОЗДАТЬ ФОТОАЛЬБОМ!</button>
    </a>
    </div>
    {% else %}
    <a href="{% url 'users:login' %}">
    <button class="w3-button w3-black">ВОЙТИ</button>
    </a>
    {% endif %}
    <br>


</div>


<div class="w3-row-padding w3-margin-top">
    {% for album in photoalbums %}


                <div class="w3-quarter">
                    <div class="w3-card w3-margin-bottom">
                        <a href="{% url 'main_app:photoalbum' album.id %}">
                            <img src="{{ album.avatar.url }}" style="width:100%; height:200px" class=" w3-hover-opacity">
                        </a>
                        <div class="w3-container w3-white w3-center">
                            <p><b> {{ album }}</b></p>
                                <p class="w3-opacity">Создал: {{ album.owner.username }},        {{ album.date_added|date:"j-M-Y" }}</p>
                            <p></p>
                        </div>
                    </div>
                </div>




    {% empty %}
        <li>No albums have been added yet...</li>
    {% endfor %}
</div>

{% endblock content %}